<!--메뉴화면-->
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="header">
    <a href="{% url 'menu:cart_delete' %}"><button class="back">처음</button></a>
</div>

<div class="menu_container">
    <nav class="menu_category">
        <button id="defaultOpen" class="tablinks" onclick="moveInTabs(event,'category_1')">오넛지</button>
        <button class="tablinks" onclick="moveInTabs(event,'category_2')">카츠</button>
        <button class="tablinks" onclick="moveInTabs(event,'category_3')">더푸리</button>
        <button class="tablinks" onclick="moveInTabs(event,'category_4')">카페</button>
    </nav>

    <div id="category_1" class="tabcontent">
        <div class="menu_group">
            {% for menu in menus_1 %}
            <form action="{% url 'menu:cart_push' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="menu">
                    <input type="hidden" name="name" value="{{ menu.name }}">
                    <input type="hidden" name="price" value="{{ menu.price }}">
                    <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/c52796b3-76cc-444e-b7bb-6b52e171e0a1.png"
                        alt="메뉴 사진">
                    <div class="menuname">{{menu.name}}</div>
                    <div class="menuprice">{{menu.price}}원</div>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>

    <div id="category_2" class="tabcontent">
        <div class="menu_group">
            {% for menu in menus_2 %}
            <form action="{% url 'menu:cart_push' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="menu">
                    <input type="hidden" name="name" value="{{ menu.name }}">
                    <input type="hidden" name="price" value="{{ menu.price }}">
                    <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/c52796b3-76cc-444e-b7bb-6b52e171e0a1.png"
                        alt="메뉴 사진">
                    <div class="menuname">{{menu.name}}</div>
                    <div class="menuprice">{{menu.price}}원</div>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>

    <div id="category_3" class="tabcontent">
        <div class="menu_group">
            {% for menu in menus_3 %}
            <form action="{% url 'menu:cart_push' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="menu">
                    <input type="hidden" name="name" value="{{ menu.name }}">
                    <input type="hidden" name="price" value="{{ menu.price }}">
                    <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/c52796b3-76cc-444e-b7bb-6b52e171e0a1.png"
                        alt="메뉴 사진">
                    <div class="menuname">{{menu.name}}</div>
                    <div class="menuprice">{{menu.price}}원</div>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>

    <div id="category_4" class="tabcontent">
        <div class="menu_group">
            {% for menu in menus_4 %}
            <form action="{% url 'menu:cart_push' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="menu">
                    <input type="hidden" name="name" value="{{ menu.name }}">
                    <input type="hidden" name="price" value="{{ menu.price }}">
                    <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/c52796b3-76cc-444e-b7bb-6b52e171e0a1.png"
                        alt="메뉴 사진">
                    <div class="menuname">{{menu.name}}</div>
                    <div class="menuprice">{{menu.price}}원</div>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>

<div class="payContainer">
    <div class="cart" style="background-color: white;">
        {% for cart in carts %}
        <p id="cart_name">{{cart.name}} &nbsp;&nbsp;{{cart.price}}원</p>
        {% endfor %}
    </div>
    <a href="{% url 'main:cart_list' %}"><button class="pay" style="background-color: white;">결제하기</button></a>
</div>

<script src="{% static 'js/donkey.css' %}"></script>
{% endblock %}