<!--메인화면-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main">
    <div id="logo">
        <img src="https://mblogthumb-phinf.pstatic.net/20160427_113/ppanppane_1461740192693t99B0_PNG/%B9%F6%B0%C5%C5%B7%B7%CE%B0%ED_%281%29.png?type=w2"
            alt="버거킹로고" id="logo_img">
    </div>

    <div id="btn_set">
        <a href="{% url 'menu:menu' %}"><button class="main_btn">포장하기</button></a><br>
        <a href="{% url 'menu:menu' %}"><button class="main_btn">먹고가기</button></a><br>
        <a href="{% url 'main:employee_call' %}">
            <div id="btn2"><button class="main_btn2">직원호출</button></div>
        </a>
    </div>
</div>
{% endblock %}
