<!--메인화면-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main">
    <div id="logo">
        <img src="https://mblogthumb-phinf.pstatic.net/20140809_284/ballvic123_1407568271273eLdH6_PNG/%B5%BF%B1%B9%B4%EB.png?type=w2" largesrc="javascript:location.href='https://mblogthumb-phinf.pstatic.net/20140809_284/ballvic123_1407568271273eLdH6_PNG/%B5%BF%B1%B9%B4%EB.png?type=w2"
            alt="동국대학교" id="logo_img">
    </div>

    <div id="btn_set">
        <a href="{% url 'menu:menu' %}">
            <div id="btn2">
                <button class="main_btn" onmouseover="speakText('주문하기')">주문하기</button>
            </div>
        </a>
        <a href="{% url 'main:employee_call' %}">
            <div id="btn2">
                <button class="main_btn2" onmouseover="speakText('직원호출')">직원호출</button>
            </div>
        </a>
    </div>
</div>
{% endblock %}
