*{
    font-weight: 800;
}

/*base.html*/
body {
    background-color: beige;
}

#kiosk_size{
    background-color: orange;
    width:800px;
    height:1300px;
    margin:50px auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}

/*mainpage.html*/
#logo {
    width: fit-content;
    margin: 0 auto;
}

#logo_img {
    width: 600px;
}

#btn_set {
    width: fit-content;
    margin: 0 auto;
}

.main_btn {
    width: 500px;
    height: 100px;
    border-radius: 15px;
    margin: 30px;
    font-size: 50px;
}

button:hover {
    cursor: pointer;
}

#btn2 {
    width: fit-content;
    margin: 0 auto;
}

.main_btn2 {
    width: 200px;
    height: 70px;
    border-radius: 15px;
    font-size: 30px;
    margin: 30px auto;
}


/*menu_list.html*/
.header {
    height: 10%;
    width: 100%;
    background-color: rgba(252, 197, 94, 0.5);
    display: flex;
    justify-content: end;
}

.back {
    margin:5px;
    width: 300px;
    font-size: 80px;
}

.menu_container {
    width: 100%;
    height: 75%;
    background-color: rgba(252, 197, 94, 0.5);
}

.menu_category {
    height: 10%;
    display: flex;
    justify-content:left ;
    border-bottom: none;
}

.menu_category button {
    display: block;
    width: 200px;
    background-color:orange;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.menu_group {
    display: grid;
    padding: 80px 0;
    row-gap: 100px;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 170px 170px 170px 170px;
    justify-content: space-evenly;

}

.menu {
    background-color: white;
    border-radius: 20%;
    font-size: 25px;
    text-align: center;
    width: 170px;
    height: 200px;
}

.menu img {
    width: 130px;
    height: 100px;
    display: block;
    margin:0 auto;
}

.payContainer {
    height: 15%;
    width: 100%;
    background-color: rgba(252, 197, 94, 0.5);
    display: flex;
    justify-content: space-between;
}
.payContainer .cart {
    height: 85%;
    width: 80%;
    background-color: white;
    margin: 10px;
}
.payContainer .pay {
    height: 85%;
    width: 30%;
    margin: 10px;
    font-size: 40px;
}
.payContainer button {
    background-color:rgba(252, 197, 94, 0.2) ;
}
.cart {
    background-color: white;
}
.menuname {
    font-size: 27px;
}
.menuprice {
    font-size: 25px;
}
.tabcontent {
    height:90%;
    background-color: orange;
}

/*cart_list.html*/
#subject{
    padding : 10px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.card{
    border: 3px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-img-top{
    margin:10px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pay_btn{
    margin: 100px;
    border-radius: 20px;
    border : 3px solid black;
    height: 60px;
    width: 300px;
}
.card-title{
    margin: 10px;
    padding: 0px;
}
.card-text{
    margin: 10px;
    padding: 0px;
}